In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/orders.csv')

In [ ]:
df = pd.read_json('/users.json')

In [ ]:
import sqlite3
import pandas as pd

# create in-memory SQLite
con = sqlite3.connect(':memory:')

# Read the SQL script from the file and execute
with open('/restaurants.sql', 'r') as f:
    sql_script = f.read()
con.executescript(sql_script)

# List tables to verify the table name
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", con)
print(f"Tables found: {tables['name'].tolist()}")

# Read the data into a DataFrame
# Assuming the table name is 'restaurants' based on previous query
query = "SELECT * FROM restaurants"
df = pd.read_sql(query, con)

Tables found: ['restaurants']

In [ ]:
df_orders = pd.read_csv('/orders.csv')
df_users = pd.read_json('/users.json')

print("Orders DataFrame Head:")
display(df_orders.head())
print("\nUsers DataFrame Head:")
display(df_users.head())

Orders DataFrame Head:

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

Users DataFrame Head:

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [ ]:
df_merged = df_orders.merge(df_users, on='user_id', how='left').merge(df_restaurants, on='restaurant_id', how='left')

print("Merged DataFrame Head:")
display(df_merged.head())

Merged DataFrame Head:

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [ ]:
print("Merged DataFrame Summary:")
df_merged.info()

Merged DataFrame Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  object
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  object
 6   name               10000 non-null  object
 7   city               10000 non-null  object
 8   membership         10000 non-null  object
 9   restaurant_name_y  10000 non-null  object
 10  cuisine            10000 non-null  object
 11  rating             10000 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 937.6+ KB

In [ ]:
import pandas as pd

# Load orders data
df_orders = pd.read_csv('/orders.csv')

# Load users data
df_users = pd.read_json('/users.json')

# Display heads
print("Orders DataFrame Head:")
display(df_orders.head())
print("\nUsers DataFrame Head:")
display(df_users.head())

Orders DataFrame Head:

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

Users DataFrame Head:

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [ ]:
df_restaurants = pd.read_sql("SELECT * FROM restaurants", con)

print("Restaurants DataFrame Head:")
display(df_restaurants.head())

Restaurants DataFrame Head:

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [ ]:
df_merged = df_orders.merge(df_users, on='user_id', how='left').merge(df_restaurants, on='restaurant_id', how='left')

print("Merged DataFrame Head:")
display(df_merged.head())

Merged DataFrame Head:

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [ ]:
print("Merged DataFrame Summary:")
df_merged.info()

Merged DataFrame Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  object
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  object
 6   name               10000 non-null  object
 7   city               10000 non-null  object
 8   membership         10000 non-null  object
 9   restaurant_name_y  10000 non-null  object
 10  cuisine            10000 non-null  object
 11  rating             10000 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 937.6+ KB

In [ ]:
#Questions

In [ ]:
# Filter for Gold members
gold_revenue_by_city = df_merged[df_merged['membership'] == 'Gold'].groupby('city')['total_amount'].sum().sort_values(ascending=False)

# Identify the top city
top_city = gold_revenue_by_city.idxmax()
top_revenue = gold_revenue_by_city.max()

print(f"The city with the highest total revenue from Gold members is {top_city} with a total of {top_revenue:,.2f}")

# Display the revenue ranking for all cities
print("\nTotal Revenue from Gold Members by City:")
display(gold_revenue_by_city.to_frame())

The city with the highest total revenue from Gold members is Chennai with a total of 1,080,909.79

Total Revenue from Gold Members by City:

           total_amount
city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19

In [ ]:
# Calculate average order value by cuisine
avg_value_by_cuisine = df_merged.groupby('cuisine')['total_amount'].mean().sort_values(ascending=False)

# Identify the top cuisine
top_cuisine = avg_value_by_cuisine.idxmax()
top_avg_value = avg_value_by_cuisine.max()

print(f"The cuisine with the highest average order value is {top_cuisine} with an average of {top_avg_value:,.2f}")

# Display the full ranking
print("\nAverage Order Value by Cuisine:")
display(avg_value_by_cuisine.to_frame())

The cuisine with the highest average order value is Mexican with an average of 808.02

Average Order Value by Cuisine:

         total_amount
cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020

In [ ]:
# Group by user_id and sum the total_amount
user_total_spending = df_merged.groupby('user_id')['total_amount'].sum()

# Filter for users with total spending > 1000
high_spenders = user_total_spending[user_total_spending > 1000]

# Count distinct users
num_high_spenders = high_spenders.count()

print(f"Number of distinct users with total spending > 1000: {num_high_spenders}")

# Display top 5 high spenders as a sample
print("\nTop 5 Users by Total Spending:")
display(user_total_spending.sort_values(ascending=False).head(5).to_frame())

Number of distinct users with total spending > 1000: 2544

Top 5 Users by Total Spending:

         total_amount
user_id
1515         11556.49
650          10747.44
496           9634.30
2586          9486.61
2615          9237.32

In [ ]:
# Calculate number of distinct restaurants and total revenue per cuisine
cuisine_stats = df_merged.groupby('cuisine').agg(
    distinct_restaurants=('restaurant_id', 'nunique'),
    total_revenue=('total_amount', 'sum')
).sort_values(by='distinct_restaurants')

# Calculate percentage contribution to total revenue
total_rev_all = cuisine_stats['total_revenue'].sum()
cuisine_stats['revenue_percentage'] = (cuisine_stats['total_revenue'] / total_rev_all) * 100

print("Cuisine Analysis: Restaurant Count vs Revenue")
display(cuisine_stats)

# Identify the cuisine with the lowest restaurant count
lowest_count_cuisine = cuisine_stats.index[0]
print(f"\nThe cuisine with the lowest number of distinct restaurants is {lowest_count_cuisine} with {cuisine_stats.loc[lowest_count_cuisine, 'distinct_restaurants']} restaurants.")

In [ ]:
# Filter for Gold members
df_gold = df_merged[df_merged['membership'] == 'Gold']

# Group by city and calculate mean total_amount (AOV)
gold_aov_by_city = df_gold.groupby('city')['total_amount'].mean().sort_values(ascending=False)

# Identify the city with the maximum AOV
top_gold_city = gold_aov_by_city.idxmax()
top_gold_aov = gold_aov_by_city.max()

# Print the top city and its AOV
print(f"The city with the highest Gold member Average Order Value (AOV) is {top_gold_city} with an AOV of {top_gold_aov:,.2f}")

# Display the sorted list of cities and their Gold AOVs
print("\nGold Member AOV by City (Sorted):")
display(gold_aov_by_city.to_frame(name='Average Order Value'))

The city with the highest Gold member Average Order Value (AOV) is Chennai with an AOV of 808.46

Gold Member AOV by City (Sorted):

           Average Order Value
city
Chennai             808.459080
Hyderabad           806.421034
Bangalore           793.223756
Pune                781.162243

In [ ]:
# Group by the original restaurant name from the orders dataset
restaurant_choice_stats = df_merged.groupby('restaurant_name_x').agg(
    total_orders=('order_id', 'count'),
    average_order_value=('total_amount', 'mean')
).reset_index()

# Filter for those with less than 20 orders
filtered_choices = restaurant_choice_stats[restaurant_choice_stats['total_orders'] < 20]

# Sort and display the top ones to find the match among the options
top_choices = filtered_choices.sort_values(by='average_order_value', ascending=False)

print("Top restaurants with < 20 orders (by original names):")
display(top_choices.head(10))

Top restaurants with < 20 orders (by original names):

                         restaurant_name_x  total_orders  average_order_value
173               Hotel Dhaba Multicuisine            13          1040.222308
354                       Sri Mess Punjabi            12          1029.180833
236                  Ruchi Biryani Punjabi            16          1002.140625
343                  Sri Delights Pure Veg            18           989.467222
88       Classic Kitchen Family Restaurant            19           973.167895
172                    Hotel Dhaba Chinese            18           973.125556
28                      Amma Mess Pure Veg            18           965.299444
161                 Hotel Biryani Pure Veg            13           964.577692
41      Annapurna Curry House Multicuisine            17           954.512353
405  Taste of Restaurant Family Restaurant            10           948.220000

In [ ]:
# Filter the previously calculated stats for these specific names
specific_stats = restaurant_choice_stats[restaurant_choice_stats['restaurant_name_x'].isin(options)]

print("Stats for the provided options:")
display(specific_stats.sort_values(by='average_order_value', ascending=False))

# Filter for < 20 orders and find the max AOV
valid_options = specific_stats[specific_stats['total_orders'] < 20]
if not valid_options.empty:
    winner = valid_options.sort_values(by='average_order_value', ascending=False).iloc[0]
    print(f"'{winner['restaurant_name_x']}'")
else:
    print("less than 20 orders")

Stats for the provided options:

                 restaurant_name_x  total_orders  average_order_value
261        Ruchi Mess Multicuisine            40           851.226250
154  Grand Restaurant South Indian            29           842.567586
132             Grand Cafe Punjabi            32           765.409063
254            Ruchi Foods Chinese            19           686.603158

'Ruchi Foods Chinese'

In [ ]:
# Group by restaurant using the cleaned df_final and calculate order count and average value
restaurant_stats = df_final.groupby(['restaurant_id', 'restaurant_name']).agg(
    total_orders=('order_id', 'count'),
    average_order_value=('total_amount', 'mean')
).reset_index()

# Filter for restaurants with less than 20 total orders
filtered_restaurants = restaurant_stats[restaurant_stats['total_orders'] < 20]

# Sort by average order value to find the top one
top_filtered_restaurant = filtered_restaurants.sort_values(by='average_order_value', ascending=False).head(1)

print("Top Restaurant with < 20 orders by Average Order Value:")
display(top_filtered_restaurant)

if not top_filtered_restaurant.empty:
    name = top_filtered_restaurant.iloc[0]['restaurant_name']
    aov = top_filtered_restaurant.iloc[0]['average_order_value']
    count = top_filtered_restaurant.iloc[0]['total_orders']
    print(f"\nThe restaurant is '{name}' with an average order value of \u20b9{aov:,.2f} from {count} orders.")
else:
    print("\nNo restaurants found matching the criteria.")

Top Restaurant with < 20 orders by Average Order Value:

     restaurant_id restaurant_name  total_orders  average_order_value
293            294  Restaurant_294            13          1040.222308

The restaurant is 'Restaurant_294' with an average order value of 1,040.22 from 13 orders.

In [ ]:
# Count total orders
total_orders = len(df_merged)

# Count orders by Gold members
gold_orders = len(df_merged[df_merged['membership'] == 'Gold'])

# Calculate percentage
percentage_gold = (gold_orders / total_orders) * 100

print(f"Total Orders: {total_orders}")
print(f"Orders by Gold Members: {gold_orders}")
print(f"Percentage of orders by Gold members: {round(percentage_gold)}%")

Total Orders: 10000
Orders by Gold Members: 4987
Percentage of orders by Gold members: 50%

In [ ]:
import pandas as pd

# Group by 'membership' and 'cuisine' and calculate sum of 'total_amount'
revenue_by_membership_cuisine = df_merged.groupby(['membership', 'cuisine'])['total_amount'].sum().reset_index()

# Identify the top contributor
top_contributor_idx = revenue_by_membership_cuisine['total_amount'].idxmax()
top_contributor = revenue_by_membership_cuisine.loc[top_contributor_idx]

# Display the calculated revenue for all combinations
print("Total Revenue by Membership and Cuisine:")
display(revenue_by_membership_cuisine.sort_values(by='total_amount', ascending=False))

print(f"\nThe top contributor is the combination of '{top_contributor['membership']}' membership and '{top_contributor['cuisine']}' cuisine, with a total revenue of {top_contributor['total_amount']:,.2f}.")

Total Revenue by Membership and Cuisine:

  membership  cuisine  total_amount
7    Regular  Mexican    1072943.30
6    Regular  Italian    1018424.75
3       Gold  Mexican    1012559.79
2       Gold  Italian    1005779.05
5    Regular   Indian     992100.27
1       Gold   Indian     979312.31
0       Gold  Chinese     977713.74
4    Regular  Chinese     952790.91

The top contributor is the combination of 'Regular' membership and 'Mexican' cuisine, with a total revenue of 1,072,943.30.

In [ ]:
import pandas as pd

# Convert 'order_date' to datetime
df_merged['order_date'] = pd.to_datetime(df_merged['order_date'], dayfirst=True)

# Extract quarter
df_merged['quarter'] = df_merged['order_date'].dt.quarter

# Group by quarter and sum revenue
revenue_by_quarter = df_merged.groupby('quarter')['total_amount'].sum().reset_index()

# Identify the quarter with the highest revenue
top_quarter_idx = revenue_by_quarter['total_amount'].idxmax()
top_quarter_row = revenue_by_quarter.loc[top_quarter_idx]

# Display results
print("Total Revenue by Quarter:")
# Map quarter number to Q1, Q2, etc.
revenue_by_quarter['quarter_label'] = 'Q' + revenue_by_quarter['quarter'].astype(str)
display(revenue_by_quarter[['quarter_label', 'total_amount']])

print(f"\nThe quarter with the highest total revenue is Q{int(top_quarter_row['quarter'])} with a total of {top_quarter_row['total_amount']:,.2f}.")

Total Revenue by Quarter:

  quarter_label  total_amount
0            Q1    2010626.64
1            Q2    1945348.72
2            Q3    2037385.10
3            Q4    2018263.66

The quarter with the highest total revenue is Q3 with a total of 2,037,385.10.

In [ ]:
# Filter the df_merged DataFrame for 'Gold' membership
df_gold_orders = df_merged[df_merged['membership'] == 'Gold']

# Calculate the total number of orders
gold_order_count = len(df_gold_orders)

# Print the result
print(f"Total number of orders placed by 'Gold' members: {gold_order_count}")

Total number of orders placed by 'Gold' members: 4987

In [ ]:
# Filter the df_merged DataFrame for 'Hyderabad'
hyderabad_orders = df_merged[df_merged['city'] == 'Hyderabad']

# Sum the 'total_amount' to calculate total revenue
hyderabad_total_revenue = hyderabad_orders['total_amount'].sum()

# Round to the nearest integer
rounded_hyderabad_revenue = round(hyderabad_total_revenue)

# Print the final result
print(f"Total revenue from orders in Hyderabad: {rounded_hyderabad_revenue}")

Total revenue from orders in Hyderabad: 1889367

In [ ]:
# Calculate the number of distinct users from the 'user_id' column
distinct_user_count = df_merged['user_id'].nunique()

print(f"Total number of distinct users who placed at least one order: {distinct_user_count}")

Total number of distinct users who placed at least one order: 2883

In [ ]:
# Calculate the mean of 'total_amount' for Gold members
gold_aov = df_gold_orders['total_amount'].mean()

# Round the result to two decimal places
rounded_gold_aov = round(gold_aov, 2)

print(f"Average Order Value for 'Gold' members: {rounded_gold_aov}")

Average Order Value for 'Gold' members: 797.15

In [ ]:
# Filter the df_merged DataFrame for ratings >= 4.5
high_rated_orders = df_merged[df_merged['rating'] >= 4.5]

# Calculate the total number of orders in this filtered subset
high_rated_order_count = len(high_rated_orders)

print(f"Total number of orders placed at restaurants with a rating of 4.5 or higher: {high_rated_order_count}")

Total number of orders placed at restaurants with a rating of 4.5 or higher: 3374

In [ ]:
# Filter df_merged for 'Gold' membership and 'Chennai' city
chennai_gold_orders = df_merged[(df_merged['membership'] == 'Gold') & (df_merged['city'] == 'Chennai')]

# Calculate the total number of orders in this filtered subset
chennai_gold_order_count = len(chennai_gold_orders)

print(f"Total number of orders placed by 'Gold' members in Chennai: {chennai_gold_order_count}")

Total number of orders placed by 'Gold' members in Chennai: 1337